# General
../.idea/
node_modules/
.firebase.js

# Cloudflare
.wrangler/
wrangler/
**/wrangler.toml
**/.dev.vars
**/.dev.vars.*

# Build output
dist/

# Environment
**/.env
**/.env.*
!.env.example
!.env.development.example
!.env.local.example
