.App {
  min-height: 100vh;
  width: 100%;
}

/* Red and white */
:root {
  --primary-color: #D91023;
  --secondary-color: #C8102E;
  --accent-color: #FF1744;
  --light-bg: #ffffff;
  --lighter-bg: #f8f9fa;
  --text-dark: #1a1a1a;
  --text-gray: #2a4155;
}

body {
  background: var(--light-bg);
  color: var(--text-dark);
}